.myChart{
    width: 50%;
    display: flex;
    margin: 15px auto;
    padding: 15px;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 5px lightgrey;
    justify-content: center;
    background-color: white;
  }

  .container{
    display: flex;
    justify-content: center;
    width: 85%;
    align-items: center;
    margin: auto;
    
  }